<%- include('./partials/header.ejs') %>

<h1>About Kelper</h1>

<div>
<p> about page: - details why it is important for businesses to come together to hold clients accountable for their actions

show how it is beneficial to regularly drop clients (studies show to continue with company growth you need to trim 'the dead branches')

[if companies cater to all the "karens" by supplementing them with free products/services after each complaint it can cause a loss of revenue/support from other unknowing clients; but if said client can be tracked to show a history of false complaints to companies, these companies can then make strategic decisions on wether to fire the client or cater to them]

    (example: service industry companies often comp services and cater to difficult clients to prevent clients going onto the web and "complaint blasting" a business, generally dropping a review status, this client becomes used to this level of catering and will waste company resources, including time one pays employees.)
    Research/sources:

    <a href="https://www.forbes.com/sites/allbusiness/2014/05/06/6-reasons-to-fire-a-client/?sh=70888eefc512">
        Forbes - "6 Reasons to Fire a Client"
        
    </a>



    <a href="https://hbr.org/2011/08/its-time-to-fire-some-of-your.html
    https://hbr.org/2015/02/when-and-why-to-part-ways-with-a-customer">
        "When and why to part ways with a customer."
        
    </a>
    

    using the Pareto principle for customer analysis:
    https://customerthink.com/pareto_s_principle_a_useful_tool_for_customer_analysis/

    https://www.forbes.com/sites/davelavinsky/2014/01/20/pareto-principle-how-to-use-it-to-dramatically-grow-your-business/?sh=2e3ae3a3901d

</p>
</div>

<%- include('./partials/footer.ejs') %>