

<!DOCTYPE html>

<html>
    <head>
 
    </head>
    <body>
        <h1>Kelper</h1>
        <h2>Home Page</h2>

    <a href="/users/signin">Sign In</a>
    <a href="/users/register">Register</a>
    

    </body>
</html>