<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Index Page</h1>          
    <a href="/users/signout">Sign Out</a>


   


    
    <a href="/clients/new">Create a New Client</a>
  </body>
</html>