<%- include('./partials/header.ejs') %>



<div class="header">
    <h1>Kelper</h1>   
  </div>       


<form action="/clients/new">
<input id="button" class="btn btn-dark"
type='submit' value="New Client">

<div class="btn-group">
  
    <button type="button" class="btn btn-secondary">Reference</button>
    
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
    <span class="visually-hidden">Toggle Dropdown</span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuReference">
      <li>
        <a class="dropdown-item" href="#">Action</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Another action</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Something else here</a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  
</div>

<br/>
<br/>
<br/>

<div>


</div>
</form>

        <ul>
          <br/>
          <% for (let i = 0; i < clients.length; i++) { %>
            <li>
             <h5> <%=clients[i].clientName%> </h5>

              <a class="btn btn-primary btn-lg"
              href="/clients/<%=clients[i].id%>"> Client Information
            </a>
            </li>
            <br/>
            <br/>
            <br/>
            <% } %>
            
        </ul>
   
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


    <%- include('./partials/footer.ejs') %>