<%- include('./partials/header.ejs') %>


<h1>Add a new incident</h1> 

<div class="form-group newIncident">
    <form action="/incidents/newI/client/<%= clientId %>" method="POST" >
    New Incident: 
    <br/>
    <input type="text" name="incidentReport" value="" class="form-control" > 

    <small id="emailHelp" class="form-text text-muted">Please be as detailed as possible.</small>
<br/>
<br/>
<br/>
    <input type="submit" value="Create Incident">
    
    </form>  
</div>


<%- include('./partials/footer.ejs') %>