body{
background-image: url(../pics/seaweed.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main {
    position: fixed;
    top: 20%;
    left: 40%;
    z-index: 7;
    
}

h1{
    text-align: center;
    margin-top: 10%;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 800%;

}

.oval {
    width: 500px;
    height: 6 0px;
    background: cadetblue;
    border-radius: 10%;
    padding-top: 3%;
  }
  

h4 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 3%;
    border-bottom: 3px solid black;
   
} 

.buttons {
    margin-top: 4%;
}

#button {
    border: 2px solid black;
}


.allWeed {
    position: absolute;
    margin-top: 15%;
    margin-left: 2%;
}

.seaWeed {
    display: inline-block; 
}


#imgWeed {
    z-index: 4;
    height: 550px;
    width: 200px;
    padding-top: 0%;
}



#thickImgWeed {
    z-index: 3;
    height: 450px;
    width: 200px;
    margin-top: 30%;
    
}
