body{
    background-color: rgb(99, 201, 167);
}

.header {
    background: black;
}

h1{
    text-align: left;
    margin-top: 5%;
    margin-left: 1%;
    color: white;
    font-family: 'Stick No Bills', sans-serif;   
}


/* sign in page */
.signIn {
    margin-top: 5%;
    margin-left: 10%;
    border: 2px solid black;
    width: 700px;
    background: rgb(99, 201, 167);
    padding: 20px 30px;
}

/* registration page */
.username {
    width: 675px;
    padding: 20px 30px;
}

.email {
    width: 700px;
    padding: 0 30px;
}

.userDetails {
    width: 700px;
    padding: 20px 30px;
}

.userDetails {
    margin-top: 5%;
}

.submitButton {
    margin-top: 2%;
    margin-left: 2%;
}










#footer {
    display: flex;

}