body{
    background-color: rgb(99, 201, 167);
}

.header {
    background: black;
}

h1{
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    font-family: 'Stick No Bills', sans-serif;   
}

.signIn {
    margin-top: 5%;
    margin-left: 10%;
    border: 2px solid black;
}

#un {
    border: 2px solid pink;
}

#pw {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid blue;
}

#footer {
    display: flex;

}