<%- include('../partials/header.ejs') %>

<body>
	<h1>Sign In</h1>


	
	<div class="signIn">
	<form action="/users/signin" method="POST">



		<div id="un mb-3">
		<fieldset>

			<label for="username" class="form-label form-control-lg">Username:
			</label>

			<input type="text" name="username" id="username" class="form-control">

		</fieldset>
		</div>

<br/>
<br/>



		<div id="pw mb-3">
		<fieldset>
			<label class="form-label form-control-lg" for="password">Password:</label>
			<input class="form-control" type="password" name="password" id="password">
		</fieldset>
		</div>

<br/>


		<input type="submit" class="btn btn-dark" value="Sign In">
	</form>
	</div>


	<br/>
	<br/>
	<br/>
	<br/>
	<br/>


<%- include('../partials/footer.ejs') %>